= render 'shared/side-bar'
.app-main
  .app-main-header
    .app-main-header__content
      .app-main-header__content__group-name
        = @group.name
      .app-main-header__content__edit-btn
        = link_to 'Edit', edit_group_path(@group)
    .app-main-header__member
      MEMBER:
      - @group.users.each do |u|
        = u.Name

  .app-main-body
    .app-main-body__ls
      .app-main-body__msg
        = render partial: 'messages/message', locals: { group: @group }

  .app-main-footer
    .app-main-footer__content
      = form_for [@groups, @message], url: { action: :create } do |f|
        .app-main-footer__input
          = f.text_field :text, placeholder: 'type a message', class: 'app-main-footer__input--type-msg'
          %label.app-main-footer__input--icon
            = f.file_field :image, class: 'app-main-footer__input--img'
            %i.fa.fa-file-image-o{ aria: { hidden: 'true' } }
        = f.submit 'Send', class: 'app-main-footer__content__send-btn'
