= render 'shared/side-bar'

.app-main
  .app-main__header
    .app-main__header-content
      .app-main__header-content-group-name
        chat-spaceを駆逐する会
      .app-main__header-content-edit-btn
        Edit
    .app-main__header-member
      MEMBER: reiji, tanaka

  .app-main__body
    .app-main__body-ls
      = render partial: 'messages'

  .app-main__footer
    .app-main__footer-content
      = form_for [@group, @message], url: { action: :create } do |f|
        = f.text_field :text, placeholder: 'type a message', class: 'app-main__footer-content-type-msg'
        %label.app-main__footer-content-type-msg-icon
          = f.file_field :image, style: 'display:none'
          %i.fa.fa-file-image-o{ aria: { hidden: 'true' } }
        = f.submit 'Send', class: 'app-main__footer-content-send-btn'
