.chat-group-form
  %h1 新規チャットグループ
  = form_for @group do |f|
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        = f.label :group_id, class: 'chat-group-form__label'
      .chat-group-form__field--right
        = f.text_field :name, class: 'chat-group-form__input', placeholder: 'グループ名を入力してください'
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        = f.label :add_chat_group, class: 'chat-group-form__label'
      .chat-group-form__field--right
        = collection_check_boxes(:group, :user_ids, User.all, :id, :Name) do |b|
          = b.label { b.check_box + b.text }
    .chat-group-form__field.clearfix
      .chat-group-form__field--right
        = f.submit 'Save', class: 'chat-group-form__action-btn'
